.navbar-top{
    height: 40px;
    background-color: black;
    justify-content: end;
    margin-right: 5px;
}








/* main */




/* First-section */
.first-section{
    height: 600px; 
    background-image:url(/img/jumbo-bg.png);
    background-size: cover;
}

.sec-1{
    padding-top: 300px;
    padding-left: 40px;

}

.button{
    border-radius: 15px;
    color: white;
    background-color: orange; 
}

.padd-bott{
    margin-top: 60px;
    padding: 10px;
}
.padd-title{
    padding-bottom: 12px;
}





/* Second */
.second-section{
    /* height: 90px; */
}

.row{
    display: flex;
}

.col{
}

.img-sect-2{
    border-radius: 15px;
}





/* TERZ */

.terza-section{
    height: 600px;
}

.play{
    text-decoration: none;
}

.row-terza{
    text-align: center;
}
.col-3{
    width: 50%;
}

/* QUART */

.quarta-section{
    height: 145px;
}