.navbar-top{
    height: 40px;
    background-color: black;
    justify-content: end;
    margin-right: 5px;
}








/* main */




/* First-section */
.first-section{
    height: 370px;
}






/* Second */

.second-section{
    height: 90px;
}

.row{
    display: flex;
}





/* TERZ */

.terza-section{
    height: 578px;
}




/* QUART */

.quarta-section{
    height: 145px;
}